%section.bg-primary.border-t-5
  .max-w-6xl.mx-auto.px-6.py-16.flex.flex-col.items-center.gap-6.text-center
    %h2= t(".title")
    = link_to t(".button"), new_session_path, class: "bg-text! text-background! hover:bg-background! hover:text-text!"
