%section.bg-night.text-background.border-y-5
  .max-w-6xl.mx-auto.px-6.py-16
    %h2.mb-6= t(".title")
    .grid.grid-cols-1.gap-6{class: "md:grid-cols-3"}
      - privacy_points.each do |point|
        .border-3.border-background.flex.flex-col
          .flex.items-center.gap-2.bg-white.text-night
            .size-10.flex.items-center.justify-center.text-xl= lucide_icon point[:icon], class: "size-6"
            %h3.uppercase= point[:title]
          .px-3.py-2
            %p{class: "text-background/70"}= point[:text]
