- content_for :title, "Editing category"

%h1 Editing category

= render "form", activity_category: @activity_category

%br

%div
  = link_to "Show this category", @activity_category
  |
  = link_to "Back to categories", activity_categories_path
