%p{style: email_text_style}= t(".greeting")
%p{style: email_text_style}= t(".instructions")
%p{style: "margin:24px 0; text-align:center;"}
  %span{style: email_code_style}= @magic_link.code
%p{style: email_muted_text_style}= t(".expiry_notice")
