%h1{style: email_heading_style}= t(".heading")
%p{style: email_text_style}= t(".greeting")
%p{style: email_text_style}= t(".body")
%p{style: "margin:28px 0 0;"}
  %a{href: root_url, style: email_button_style}= t(".call_to_action")
